.search-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xl);
    margin: var(--space-xl) 0;
}

.search-input {
    width: 100%;
    padding: var(--space-sm) var(--space-md);
    border: var(--border-width) solid grey;
    border-radius: var(--radius-sm);
}

.search-fields {
    margin-top: var(--space-md);
}

.search-checkbox-container {
    padding: var(--space-sm) var(--space-md);
    border: var(--border-width) solid grey;
    border-radius: var(--radius-sm);
    background: #fff;
}

.search-checkbox-container > label {
    margin-right: var(--space-xl);
}

.filter-select {
    padding: var(--space-sm) var(--space-md);
    margin-right: var(--space-xl);
}

.sort-order-input {
    padding: var(--space-sm) var(--space-md);
}

.submit-btn {
    padding: var(--space-md) calc(var(--space-xl) * 1.4);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: var(--space-xl);
    margin-top: var(--space-xl);
}

.project {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    grid-gap: var(--space-md);
    justify-items: center;

    padding: var(--space-md);
    border: var(--border-width) var(--color-border) solid;
    border-radius: var(--radius-sm);
    
    background-color: var(--color-card);
    color: var(--color-text);
}

.project-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}
.project-desc {
    font-size: 1.1rem;
}

.project-techniques {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--space-md);
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    justify-content: center;
    grid-gap: var(--space-xs); */
    width: 100%;
}

.project-techniques > .technique {
    padding: var(--space-sm) var(--space-lg);
    color: #f2f1f1;
    background-color: #0a7b0ad3;
    border: var(--border-width) var(--color-border) solid;
    border-radius: var(--radius-sm);
}
