main {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: auto  auto 1fr;
  grid-gap: var(--space-lg) 4rem;
}

.back-button {
  grid-column: span 2;
  grid-row: 1;
  color: var(--color-text);
  margin-bottom: var(--space-lg);
}

.project-info {
  grid-row: span 2;
  display: grid;
  grid-auto-flow: row;
  grid-gap: var(--space-lg);
}

.project-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-xs);
}


.project-techniques {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-gap: var(--space-xs);
}

.project-techniques > .technique {
  font-size: 0.9rem;
  padding: var(--space-sm) var(--space-lg);
  color: #f2f1f1;
  background-color: #0a7b0ad3;
  border: var(--border-width) var(--color-border) solid;
  border-radius: var(--radius-sm);
}

.project-link {
  font-size: 1.6rem;
  text-decoration: underline;
  color: var(--color-text);
}

.course-info {
  background-color: #1414142e;
  padding: var(--space-lg);

  display: grid;
  grid-gap: var(--space-lg);
}

.course-code {
  font-size: 1.1rem;
  font-weight: var(--font-weight-bold);
}
