.technique-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1.4rem;
    margin-top: 1.6rem;
}

.technique {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 0.4rem;

    padding: 0.8rem 1rem;
    border: 1px #000000 solid;
    border-radius: 0.4rem;
    
    background-color: #0404040e;
    color: #222222;
    font-size: 1.1rem;
}

.technique-title {
    font-size: 1.4rem;
    font-weight: 800;
}

.technique-use-count {
    margin-bottom: 1rem;
}

.technique-use-list {
    margin-left: 1rem;
}

.project-link {
    color: black;
    text-decoration: underline;
}

.project-link:hover {
    color: gray;
}