.technique-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: var(--space-xl);
    margin-top: var(--space-xl);
}

.technique {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: var(--space-xs);

    padding: var(--space-md) var(--space-lg);
    border: var(--border-width) var(--color-border) solid;
    border-radius: var(--radius-sm);
    
    background-color: var(--color-card);
    color: var(--color-text);
    font-size: 1.1rem;
}

.technique-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

.technique-use-count {
    margin-bottom: var(--space-lg);
}

.technique-use-list {
    margin-left: var(--space-lg);
}

.project-link {
    color: var(--color-text);
    text-decoration: underline;
}

.project-link:hover {
    color: #808080;
}